<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="sales" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Sales</label>
			<tab>sales</tab>
			<resource>Fullstak_StandardFee::payment</resource>
			<group id="standard_fee" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Standard Fee</label>
				<field id="standard_fee_label" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Standard Fee Name</label>
					<comment>What will the customer see as fee title.</comment>
				</field>
				<field id="standard_fee_price" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
					<label>Standard Fee Price</label>
					<validate>required-number validate-number</validate>
				</field>
			</group>
		</section>
	</system>
</config>